.btn-entrar{
	float:none !important; 
	margin-left: 0px !important;
}
.login_content h1:after, 
.login_content h1:before{

	background: none;
}
body.login{
	background-color: rgba(191, 161, 95, 0.4);
}

.dourado
{
    color: #d0c1a1;
}

input[type=submit]{
	color:black;
}

.topo{
	background-color:#3D276B;
}

.logo_topo{
	width: 315px;
	margin-top: 20px;
    border: 4px solid #BFA15F;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
}

.login_content {
    margin-top: -50px;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    min-width: 280px;
   }

.colormenu{
	background-color:#3D276B;

}
h3.home {
	text-align: left;
	margin-top: -30px;
	text-transform: capitalize;
    letter-spacing: .5px;
    font-weight: 700;
    

}

.profile_info {
    text-align: center;
    width: 100%;
    float: left;
}
.body{
	color: #3D276B;
    background: #3D276B;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}
.colortopbar{
	background-color: rgba(191, 161, 95, 0.5);
}
a {
    color: #3D276B;
  }

  .nav.side-menu>li.active>a {
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#5f4d28,#5f4d28),#5f4d28;
}
.nav.side-menu>li.active, .nav.side-menu>li.current-page {
    border-right: none;
}

<<<<<<< HEAD
.col-md-3.left_col {
    background-color: #3d276b;
}

.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid rgb(189, 172, 133);
}

.nav-sm ul.nav.child_menu {
    background: #3d276b;
}

.top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover, .top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover {
    background: #cab994;
}

.bg-padrao
{
    background-color: #947fc1 !important;
    border: 1px solid #3D276B !important;
}

.nav-md ul.nav.child_menu li:before 
{
    background: #dbccaa;
}

.nav-md ul.nav.child_menu li:after 
{
    border-left: 1px solid #dbccaa;
}

.left_col {
 	background: none;
}

.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
    border-right: none;
}

input, select{
border-radius: 10px !important;
}