.btn-entrar{
	float:none !important; 
	margin-left: 0px !important;
}

.btn-circulo{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.cor-padrao{
    background-color: white;
    color: #3D276B;
}
.login_content h1:after, 
.login_content h1:before{

	background: none;
}
body.login{
	background-color: rgba(191, 161, 95, 0.4);
}

.dourado
{
    color: #d0c1a1;
}

input[type=submit]{
	color:black;
}

.topo{
	background-color:#3D276B;
}

.logo_topo{
	width: 315px;
	margin-top: 20px;
    border: 4px solid #BFA15F;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
}

.login_content {
    margin-top: -50px;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    min-width: 280px;
   }

.colormenu{
	background-color:#3D276B;
    background: rgba(255,255,255,0.66);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.66) 0%, rgba(128,117,155,1) 15%, rgba(103,89,135,1) 18%, rgba(96,69,158,1) 30%, rgba(90,69,133,1) 41%, rgba(45,27,82,1) 84%, rgba(33,16,69,1) 95%, rgba(33,16,69,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.66)), color-stop(15%, rgba(128,117,155,1)), color-stop(18%, rgba(103,89,135,1)), color-stop(30%, rgba(96,69,158,1)), color-stop(41%, rgba(90,69,133,1)), color-stop(84%, rgba(45,27,82,1)), color-stop(95%, rgba(33,16,69,1)), color-stop(100%, rgba(33,16,69,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.66) 0%, rgba(128,117,155,1) 15%, rgba(103,89,135,1) 18%, rgba(96,69,158,1) 30%, rgba(90,69,133,1) 41%, rgba(45,27,82,1) 84%, rgba(33,16,69,1) 95%, rgba(33,16,69,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.66) 0%, rgba(128,117,155,1) 15%, rgba(103,89,135,1) 18%, rgba(96,69,158,1) 30%, rgba(90,69,133,1) 41%, rgba(45,27,82,1) 84%, rgba(33,16,69,1) 95%, rgba(33,16,69,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.66) 0%, rgba(128,117,155,1) 15%, rgba(103,89,135,1) 18%, rgba(96,69,158,1) 30%, rgba(90,69,133,1) 41%, rgba(45,27,82,1) 84%, rgba(33,16,69,1) 95%, rgba(33,16,69,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.66) 0%, rgba(128,117,155,1) 15%, rgba(103,89,135,1) 18%, rgba(96,69,158,1) 30%, rgba(90,69,133,1) 41%, rgba(45,27,82,1) 84%, rgba(33,16,69,1) 95%, rgba(33,16,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#211045', GradientType=0 );

}
h3.home {
	text-align: left;
	margin-top: -30px;
	text-transform: capitalize;
    letter-spacing: .5px;
    font-weight: 700;
    

}

.profile_info {
    text-align: center;
    width: 100%;
    float: left;
}
.body{
	color: #3D276B;
    background: #3D276B;
    background: rgba(31,20,51,1);
}
.colortopbar{
	background-color: rgba(191, 161, 95, 0.5);
    background: rgba(196,163,92,1);
    background: -moz-linear-gradient(-45deg, rgba(196,163,92,1) 0%, rgba(196,163,92,1) 3%, rgba(207,183,131,1) 15%, rgba(219,198,151,1) 26%, rgba(230,199,143,1) 40%, rgba(240,211,161,1) 52%, rgba(240,213,173,1) 65%, rgba(231,206,168,1) 73%, rgba(227,203,166,0.94) 77%, rgba(229,216,196,0.9) 80%, rgba(230,229,225,0.84) 83%, rgba(237,236,234,0.8) 85%, rgba(255,255,255,0.74) 90%, rgba(255,255,255,0.7) 93%, rgba(255,255,255,0.5) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(196,163,92,1)), color-stop(3%, rgba(196,163,92,1)), color-stop(15%, rgba(207,183,131,1)), color-stop(26%, rgba(219,198,151,1)), color-stop(40%, rgba(230,199,143,1)), color-stop(52%, rgba(240,211,161,1)), color-stop(65%, rgba(240,213,173,1)), color-stop(73%, rgba(231,206,168,1)), color-stop(77%, rgba(227,203,166,0.94)), color-stop(80%, rgba(229,216,196,0.9)), color-stop(83%, rgba(230,229,225,0.84)), color-stop(85%, rgba(237,236,234,0.8)), color-stop(90%, rgba(255,255,255,0.74)), color-stop(93%, rgba(255,255,255,0.7)), color-stop(100%, rgba(255,255,255,0.5)));
    background: -webkit-linear-gradient(-45deg, rgba(196,163,92,1) 0%, rgba(196,163,92,1) 3%, rgba(207,183,131,1) 15%, rgba(219,198,151,1) 26%, rgba(230,199,143,1) 40%, rgba(240,211,161,1) 52%, rgba(240,213,173,1) 65%, rgba(231,206,168,1) 73%, rgba(227,203,166,0.94) 77%, rgba(229,216,196,0.9) 80%, rgba(230,229,225,0.84) 83%, rgba(237,236,234,0.8) 85%, rgba(255,255,255,0.74) 90%, rgba(255,255,255,0.7) 93%, rgba(255,255,255,0.5) 100%);
    background: -o-linear-gradient(-45deg, rgba(196,163,92,1) 0%, rgba(196,163,92,1) 3%, rgba(207,183,131,1) 15%, rgba(219,198,151,1) 26%, rgba(230,199,143,1) 40%, rgba(240,211,161,1) 52%, rgba(240,213,173,1) 65%, rgba(231,206,168,1) 73%, rgba(227,203,166,0.94) 77%, rgba(229,216,196,0.9) 80%, rgba(230,229,225,0.84) 83%, rgba(237,236,234,0.8) 85%, rgba(255,255,255,0.74) 90%, rgba(255,255,255,0.7) 93%, rgba(255,255,255,0.5) 100%);
    background: -ms-linear-gradient(-45deg, rgba(196,163,92,1) 0%, rgba(196,163,92,1) 3%, rgba(207,183,131,1) 15%, rgba(219,198,151,1) 26%, rgba(230,199,143,1) 40%, rgba(240,211,161,1) 52%, rgba(240,213,173,1) 65%, rgba(231,206,168,1) 73%, rgba(227,203,166,0.94) 77%, rgba(229,216,196,0.9) 80%, rgba(230,229,225,0.84) 83%, rgba(237,236,234,0.8) 85%, rgba(255,255,255,0.74) 90%, rgba(255,255,255,0.7) 93%, rgba(255,255,255,0.5) 100%);
    background: linear-gradient(135deg, rgba(196,163,92,1) 0%, rgba(196,163,92,1) 3%, rgba(207,183,131,1) 15%, rgba(219,198,151,1) 26%, rgba(230,199,143,1) 40%, rgba(240,211,161,1) 52%, rgba(240,213,173,1) 65%, rgba(231,206,168,1) 73%, rgba(227,203,166,0.94) 77%, rgba(229,216,196,0.9) 80%, rgba(230,229,225,0.84) 83%, rgba(237,236,234,0.8) 85%, rgba(255,255,255,0.74) 90%, rgba(255,255,255,0.7) 93%, rgba(255,255,255,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4a35c', endColorstr='#ffffff', GradientType=1 );
}
.color_special1{
    background: rgba(62,44,97,1);
    background: -moz-linear-gradient(left, rgba(62,44,97,1) 0%, rgba(60,32,117,1) 12%, rgba(60,32,117,1) 22%, rgba(60,29,133,1) 38%, rgba(60,29,133,1) 53%, rgba(74,29,133,1) 69%, rgba(105,38,138,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(62,44,97,1)), color-stop(12%, rgba(60,32,117,1)), color-stop(22%, rgba(60,32,117,1)), color-stop(38%, rgba(60,29,133,1)), color-stop(53%, rgba(60,29,133,1)), color-stop(69%, rgba(74,29,133,1)), color-stop(100%, rgba(105,38,138,1)));
    background: -webkit-linear-gradient(left, rgba(62,44,97,1) 0%, rgba(60,32,117,1) 12%, rgba(60,32,117,1) 22%, rgba(60,29,133,1) 38%, rgba(60,29,133,1) 53%, rgba(74,29,133,1) 69%, rgba(105,38,138,1) 100%);
    background: -o-linear-gradient(left, rgba(62,44,97,1) 0%, rgba(60,32,117,1) 12%, rgba(60,32,117,1) 22%, rgba(60,29,133,1) 38%, rgba(60,29,133,1) 53%, rgba(74,29,133,1) 69%, rgba(105,38,138,1) 100%);
    background: -ms-linear-gradient(left, rgba(62,44,97,1) 0%, rgba(60,32,117,1) 12%, rgba(60,32,117,1) 22%, rgba(60,29,133,1) 38%, rgba(60,29,133,1) 53%, rgba(74,29,133,1) 69%, rgba(105,38,138,1) 100%);
    background: linear-gradient(to right, rgba(62,44,97,1) 0%, rgba(60,32,117,1) 12%, rgba(60,32,117,1) 22%, rgba(60,29,133,1) 38%, rgba(60,29,133,1) 53%, rgba(74,29,133,1) 69%, rgba(105,38,138,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e2c61', endColorstr='#69268a', GradientType=1 );

}
.color_special2{
    background: rgba(105,38,138,1);
    background: -moz-linear-gradient(left, rgba(105,38,138,1) 0%, rgba(74,29,133,1) 22%, rgba(60,29,133,1) 35%, rgba(60,29,133,1) 47%, rgba(60,32,117,1) 58%, rgba(60,32,117,1) 64%, rgba(60,32,117,0.99) 65%, rgba(60,32,117,0.91) 72%, rgba(60,32,117,0.9) 73%, rgba(60,32,117,0.15) 83%, rgba(60,33,115,0) 85%, rgba(62,44,97,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(105,38,138,1)), color-stop(22%, rgba(74,29,133,1)), color-stop(35%, rgba(60,29,133,1)), color-stop(47%, rgba(60,29,133,1)), color-stop(58%, rgba(60,32,117,1)), color-stop(64%, rgba(60,32,117,1)), color-stop(65%, rgba(60,32,117,0.99)), color-stop(72%, rgba(60,32,117,0.91)), color-stop(73%, rgba(60,32,117,0.9)), color-stop(83%, rgba(60,32,117,0.15)), color-stop(85%, rgba(60,33,115,0)), color-stop(100%, rgba(62,44,97,0)));
    background: -webkit-linear-gradient(left, rgba(105,38,138,1) 0%, rgba(74,29,133,1) 22%, rgba(60,29,133,1) 35%, rgba(60,29,133,1) 47%, rgba(60,32,117,1) 58%, rgba(60,32,117,1) 64%, rgba(60,32,117,0.99) 65%, rgba(60,32,117,0.91) 72%, rgba(60,32,117,0.9) 73%, rgba(60,32,117,0.15) 83%, rgba(60,33,115,0) 85%, rgba(62,44,97,0) 100%);
    background: -o-linear-gradient(left, rgba(105,38,138,1) 0%, rgba(74,29,133,1) 22%, rgba(60,29,133,1) 35%, rgba(60,29,133,1) 47%, rgba(60,32,117,1) 58%, rgba(60,32,117,1) 64%, rgba(60,32,117,0.99) 65%, rgba(60,32,117,0.91) 72%, rgba(60,32,117,0.9) 73%, rgba(60,32,117,0.15) 83%, rgba(60,33,115,0) 85%, rgba(62,44,97,0) 100%);
    background: -ms-linear-gradient(left, rgba(105,38,138,1) 0%, rgba(74,29,133,1) 22%, rgba(60,29,133,1) 35%, rgba(60,29,133,1) 47%, rgba(60,32,117,1) 58%, rgba(60,32,117,1) 64%, rgba(60,32,117,0.99) 65%, rgba(60,32,117,0.91) 72%, rgba(60,32,117,0.9) 73%, rgba(60,32,117,0.15) 83%, rgba(60,33,115,0) 85%, rgba(62,44,97,0) 100%);
    background: linear-gradient(to right, rgba(105,38,138,1) 0%, rgba(74,29,133,1) 22%, rgba(60,29,133,1) 35%, rgba(60,29,133,1) 47%, rgba(60,32,117,1) 58%, rgba(60,32,117,1) 64%, rgba(60,32,117,0.99) 65%, rgba(60,32,117,0.91) 72%, rgba(60,32,117,0.9) 73%, rgba(60,32,117,0.15) 83%, rgba(60,33,115,0) 85%, rgba(62,44,97,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69268a', endColorstr='#3e2c61', GradientType=1 );
}
a {
    color: #3D276B;
  }

  .nav.side-menu>li.active>a {
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#5f4d28,#5f4d28),#5f4d28;
}
.nav.side-menu>li.active, .nav.side-menu>li.current-page {
    border-right: none;
}

<<<<<<< HEAD
.col-md-3.left_col {
    background-color: #3d276b;
}

.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid rgb(189, 172, 133);
}

.nav-sm ul.nav.child_menu {
    background: #3d276b;
}

.top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover, .top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover {
    background: #cab994;
}

.bg-padrao
{
    background-color: #947fc1 !important;
    border: 1px solid #3D276B !important;
}

.nav-md ul.nav.child_menu li:before 
{
    background: #dbccaa;
}

.nav-md ul.nav.child_menu li:after 
{
    border-left: 1px solid #dbccaa;
}

.left_col {
 	background: none;
}

.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
    border-right: none;
}

span.pequeno 
{
    font-size: 10px;
    color: #afafaf;
}

.semborda
{
    border: none !important;
}

table.tile_info.bairros
{
    display: block;
    height: 210px;
    overflow-y: scroll;
}

.panel_toolbox { min-width: auto !important; }

input, select{
    border-radius: 10px !important;
}

.alert-branco
{
    color: #ea6153;
    background-color: rgb(255, 255, 255);
    border-color: rgba(231,76,60,.88);
}

.alert-roxo
{
    color: #fff;
    background-color: #583A78;
    border-color: #3D276B;
}

.alert-dourado
{
    color: #fff;
    background-color: #d7c190;
    border-color: #c9ab6d;
}


.alert-dismissable .close, .alert-dismissible .close {
    opacity: 1 !important;
}

.x_title button { float: right; }

.no-bold {
    font-weight:normal;
}

.cinza
{
    background: #F7F7F7;
}
input, select{
border-radius: 15px !important;
}




/******************************** CSS Pessoas *************************************************/


/* Centralização do texto para inputs menores*/

#participante, #co-participante, #dependentes, #renda-familiar {
    padding: 10px 15px;
}

/*Para INPUT tipo DATE caber em DIV de COL-MD-2*/
.global_data{
    padding-right: 0;
    padding-left:  5px;
}